<h1 mat-dialog-title>Confirmar salida</h1>
<div mat-dialog-content>

  El vehículo marca {{datos[0].data.Marca}} con placa {{datos[0].data.Placa}} ocupo el puesto
  {{datos[0].id}} un tiempo de {{datos[0].tasar}} segundos en el
  parqueadero y serán cobrados {{datos[0].price}} Bolivares.
  
  <b *ngIf="datos[0].data.Inicial!='x'">  <hr>El vehiculo viene de {{datos[0].data.Inicial}} puesto.</b>


</div>
<hr />


<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="1" cdkFocusInitial>Confirmar</button>
  <button mat-button (click)='cerrar()'>Cancelar</button>

</div>
