#puesto {
  align-items: center;
  align-content: center;
  background-color: lavender;
  width: 220px;
  height: 180px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 15px;

}

img {
  height: 20px;
  width: 20px;
  background-color: lavender;

}

h1 {
  text-align: center;
}



#estado {
  text-align: center;
  margin-top: 10px;
  border-radius: 15px;
}

