<div class="mat-app-background basic-container">
  <div class='container well'>
    <h1>Parqueadero</h1>
  </div>


  <div class="container">


    <mat-form-field appearance="outline" class="col-md-2">
      <mat-label>Placa</mat-label>
      <input matInput [(ngModel)]="placa" placeholder="Ingrese la Placa">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-md-2">
      <mat-label>Marca</mat-label>
      <input matInput [(ngModel)]="marca" placeholder="Ingrese la Marca">
    </mat-form-field>


    <button mat-raised-button class='col-md-4 btn-primary' (click)="buscarP()">Ingresar Carro</button>
    <button mat-raised-button class='col-md-4 btn-default' (click)="topPuestos()">Reporte</button>
  </div>




  <div class='container' *ngIf='!(esconder)'>
    <div class='mat-elevation-z8'>
      <div *ngFor="let item of puesto " [ngClass]="{'col-md-2': item.id!=0 || item.id!=5}" id='puesto'>
        <div class="card">

          <div class='mat-elevation-z8' [ngStyle]="{'background-color':!(item.data.Ocupado) ? 'rgb(149, 255, 167)' : 'rgb(255, 149, 149)' }"
            *ngIf='!(item.data.Ocupado)' id="estado">
            <b>Puesto Libre</b></div>
          <div class='mat-elevation-z8' [ngStyle]="{'background-color':!(item.data.Ocupado) ? 'rgb(149, 255, 167)' : 'rgb(255, 149, 149)' }"
            *ngIf='item.data.Ocupado' id="estado">
            <b>Puesto Ocupado</b></div>


          <div class="card-body">
            <h5 class="card-title">Puesto: {{item.id}} </h5>
            <p class="card-text" *ngIf='item.data.Ocupado'> Marca: {{item.data.Marca}} <br>Placa {{item.data.Placa}}</p>
            <p class="card-text" *ngIf='!(item.data.Ocupado)'> Cantidad de carros parqueados: {{item.data.Cantidad}}</p>


          </div>
          <button class="btn btn-primary" *ngIf='item.data.Ocupado' (click)="checkout(this.item.id,this.item.data)">Liberar
            Puesto</button>

        </div>
      </div>
    </div>


  </div>

</div>
