<h1 mat-dialog-title>Reporte</h1>
<div mat-dialog-content>
  <p>Los 5 puestos mas cotizados son:</p>
  <hr />
  <ng-container *ngFor="let puestos of puestoTop ; let i=index">
      <li *ngIf="i<5">
        Id del puesto {{puestos.id}} con {{puestos.data.Cantidad}} veces ocupado.<br>
        Tiempo parqueado total en el puesto: {{puestos.data.Acarreado}} segundos.
        <br>
        <br>
      </li>
  </ng-container>

</div>
<hr />


<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>
