<div class="jumbotron">
  <h1 class="display-4">Parqueadero</h1>
  <p class="lead">Es pagina es un prueba realizada para Alegra como fe de mis conocimientos</p>
  <b> Autor: Alejandro Serrano</b>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" [routerLink]="['/park']" role="button">Empezar a parquear</a>
</div>